/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}


@font-face {
    font-family: 'Roboto';
    /* src: url('./fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype'); */
    src: url('../fonts/Roboto-VariableFont_wdth,wght.woff2') format('woff2');
    font-weight: 100 900; 
    font-stretch: 75% 100%;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Roboto';
    /* src: url('./fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype'); */
    src: url('../fonts/Roboto-Italic-VariableFont_wdth,wght.woff2') format('woff2');
    font-weight: 100 900; 
    font-stretch: 75% 100%;
    font-style: italic;
    font-display: swap;
}


/* Global Variables */
:root {
    /* Website Widths */
    --website-main-width: 60%;
    --website-main-width-mobile: 90%;
    --website-main-width-ultrawide-2560: 50%;
    --website-main-width-ultrawide-3440: 40%;

    --nav-topbar-height-offset: 70px;
    --nav-topbar-side-margins: 12px;
    --nav-progress-bar-height: 3px;

    --footer-content-min-width: 200px;

    --half-width: 50%;
    --half-image-gap: 10px;

    --text-max-width: 80%;
    --text-max-width-mobile: 95%;


    /* Font Sizes */
    --font-paragraph-size: 1.2rem;
    --text-margin-bottom: 4%;
    --text-margin-bottom-mobile: 12%;


    /* Colors */
    /* hex of background color #23272f */
    --nav-topbar-background-color: rgb(35, 39, 47);
    --nav-sidebar-background-color: rgb(18, 28, 95);
    --nav-link-hover-color: rgb(41, 119, 202);
    --nav-link-sidebar-hover-color: rgba(41, 119, 202, 0.75);

    --footer-background-color: #22262f;
    --footer-border-color: rgba(255, 255, 255, 0.15);
    --footer-bottom-text-color: rgba(255, 255, 255, 0.5);

    --color-classic-blue: rgb(15, 76, 129);


    /* Transitions */
    --nav-link-transition-duration: 0.5s;
    --transition-duration-quick: 0.3s;
    --transition-style: ease-out;
    --transition-delay: 0.1s;

    --image-scale-hover: 1.05;
  }


html {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-padding-top: var(--nav-topbar-height-offset);
    overflow-x: hidden; 
}


body {
    text-align: center;  
    background-color: white;  
    color: white;
    overflow-x: hidden; 
    min-width: 350px;
}


/* width, height, padding, border, and margins should use % */
/* ***************************************************************************** */
/* Main Content */
section {
    width: 100%;
    padding-top: 7%;
    padding-bottom: 9%;
}


section ul,
section ol {
    max-width: var(--text-max-width);
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--text-margin-bottom);
}


section ul a,
section ol a {
    color: white;
}


section li {
    margin-bottom: 1%;
    font-weight: normal;
    font-size: var(--font-paragraph-size);
    line-height: 1.5rem;
    /* color: white; */
}


section ol ul,
section ul ul {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
}


section li li {
    margin-bottom: 1.25%;
}


.toc-container li {
    font-size: 1.3rem;
    margin-bottom: 2%;
}


.toc-container ol ul {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 7%;
}


.toc-container li li {
    margin-bottom: 2.5%;
}


.section-divider {
    border-bottom: 1px solid white;
    max-width: 70%;
    margin: 14% auto;
}


.section-divider.no-border {
    border-bottom: none;
    margin: 30% auto;
}


.container {
    max-width: var(--website-main-width);  
    margin: 0 auto;
}


.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text-container.xl-gap {
    margin-bottom: 15%;
}


.text-container.large-gap {
    margin-bottom: 12%;
}


.text-container.medium-gap {
    margin-bottom: 7%;
}


.text-container.small-gap {
    margin-bottom: 5%;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    margin: 10% 0;
}


.video-container iframe {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


figcaption {
    text-align: center;
    margin-top: 10px;
    color: white;
    /* letter-spacing: 0.0rem; */
}




/* ***************************************************************************** */
/* General Headers and Text */
h1 {
    /* color: white; */
    /* margin: 0 auto; */
    /* width: fit-content; */
    /* text-align: center; */
    font-size: 4.3rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    border-bottom: 1.5px solid white;
    /* border-bottom: 1.5px solid rgb(255, 255, 255, 0.8); */
    margin-bottom: 9%;
    padding-bottom: 1%;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    transition: text-shadow 0.4s var(--transition-style) var(--transition-delay);
}


h1.long-header {
    font-size: 4.0rem;
}


h1:hover {
    text-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.4), 0 0 2rem rgba(0, 0, 0, 0.2);
}


h2 {
    text-align: left;
    font-size: 2.6rem;
    margin-bottom: 5%;
    letter-spacing: 0.1rem;
    transition: text-shadow 0.4s var(--transition-style) var(--transition-delay);
}


h2:hover {
    text-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.4), 0 0 2rem rgba(0, 0, 0, 0.2);
}


h3 {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 2.5%;
}


h4 {
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
}


h5 {
    max-width: var(--text-max-width);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5%;
    text-align: left;
    font-size: 1.3rem;
    letter-spacing: 0.07rem;
}


.link-icon {
    opacity: 0;
    visibility: hidden;
    font-size: 2.0rem; 
    transition: visibility 0.4s var(--transition-style) 0.3s; 
}


.header-link:hover {
    cursor: pointer; 
}


.header-link:hover .link-icon {
    cursor: pointer;
    opacity: 0.3;
    visibility: visible;
}


p {
    max-width: var(--text-max-width);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--text-margin-bottom);
    /* color: white; */
    /* text-align: center; */
    /* margin-top: 30px; */
    font-size: var(--font-paragraph-size);
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    text-align: left;
    line-height: 1.7rem;
}

p a,
h5 a {
    color: white;
}


blockquote {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 1.1rem;
    margin-bottom: var(--text-margin-bottom);
    line-height: 1.4rem;
}


.italic {
    font-style: italic;
    font-weight: normal;
}


.bold {
    font-weight: bold;
}


.text-right {
    text-align: right;
}



code,
pre {
	background: rgb(22, 25, 29);
	color: white;

	font-family: Consolas, Monaco, monospace;
	font-size: 1rem;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5rem;

	tab-size: 4;

	hyphens: none;

	overflow: auto;

    max-width: var(--text-max-width);
    margin: var(--text-margin-bottom) auto;
}


/* Inline code */
:not(pre) > code {
    background-color: transparent;
	padding: .1rem;
	white-space: normal;
	font-size: 1.1rem;
}



/* ***************************************************************************** */
/* Top Navigation Bar */
nav {
    z-index: 10;
}


nav.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    background-color: var(--nav-topbar-background-color);
    width: 100%;
    position: fixed;
    top: 0;
    /* box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.1); */
}


nav.topbar ul {
    display: flex;
    list-style: none;
}


nav.topbar .nav-links.left li {
    margin-left: var(--nav-topbar-side-margins); 
}


nav.topbar .nav-links.right li {
    margin-right: var(--nav-topbar-side-margins); 
}


nav.topbar ul a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1rem;

    padding: 10px;
    border: 1px solid transparent;
    border-radius: 3px;

    transition-property: background-color, border-color;
    transition-duration: var(--nav-link-transition-duration);
    transition-timing-function: var(--transition-style);
    transition-delay: var(--transition-delay);
}


nav.topbar ul a:hover {
    background-color: var(--nav-link-hover-color);
    border-color: var(--nav-link-hover-color);
    cursor: pointer; 
}


/* nav.topbar .nav-links.left a:first-child {
    margin-left: 12px; 
}


nav.topbar .nav-links.right a:last-child {
    margin-right: 12px; 
} */


.nav-icon {
    width: 16px; 
    height: 16px;
    margin-right: 3px; 
    vertical-align: middle;
}


.progress-container {
    position: absolute;
    top: calc(var(--nav-topbar-height-offset) - var(--nav-progress-bar-height));
    left: 0;
    width: 100%;
    height: var(--nav-progress-bar-height);
    background: transparent;
}


.progress-bar {
    height: 100%;
    width: 0%;
    background: var(--nav-link-hover-color);
    transition: width 0.1s var(--transition-style);
}




/* ***************************************************************************** */
/* Side Navigation Bar */
nav.sidebar {
    width: fit-content; 
    height: fit-content; 
    position: fixed; 
    top: var(--nav-topbar-height-offset);
    right: 0;
    text-align: left;
    /* padding: 20px; */
    /* background-color: #20232a; */
    /* background-color: var(--nav-sidebar-background-color); */
    /* border-left: 1px solid rgba(226, 226, 227, 0.2); */
    /* box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.1); */
}


nav.sidebar h6 {
    text-align: left;
    color: white;
    font-size: 0.86rem;
    font-weight: bold;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 25px;
    /* margin-left: 15px; */
    /* margin-right: 15px; */
 }


nav.sidebar ul {
    list-style: none;
    margin-top: 12px;
}


nav.sidebar li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 25px;
    transition: background-color var(--nav-link-transition-duration) var(--transition-style) var(--transition-delay);  
}


nav.sidebar a {
    color: white; 
    text-decoration: none;
    font-size: 0.86rem;
    letter-spacing: 0.03rem;
 }


nav.sidebar li:hover {
    background-color: var(--nav-link-sidebar-hover-color);
    cursor: pointer; 
}


nav.sidebar li.active {
    background-color: var(--nav-link-sidebar-hover-color);
}





/* ***************************************************************************** */
/* Main Sections */
section.about_me {
    /* background-color: #1d2339; */
    background-color: var(--color-classic-blue);
    /* background-color: lightblue; */
    margin-top: var(--nav-topbar-height-offset);
    /* scroll-margin-top: 70px; */
}


section h4 {
    display: inline;
}


section.education {
    /* background-color: #82d8dc;  */
    /* background-color: lightblue; */
    /* background-color: rgb(100, 169, 193); */
    /* background-color: rgb(71, 161, 191); */
    background-color: rgb(40, 151, 188);
}


section.education h3 {
    font-size: 1.5rem;
    margin-bottom: 25px;
}


#UCSD-header {
    text-align: center;
    margin-bottom: 0px;
    font-size: 2.9rem;
}


#UCSD-pics {
    /* margin-top: 55px; */
    margin-bottom: 120px;
}


section.experience {
    background-color: #292b32;
}


#centene_logo {
    background-color: white;
    padding: 5%;
    /* border-radius: 5px; */
}


section.projects {
    background-color: #203d7c;
}


#freqtrade_logo {
    background-color: white;
    /* border-radius: 5px; */
    padding: 5% 1%;
}




/* ***************************************************************************** */
/* Image Container */
/* .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;

    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.image-container img {
    max-width: calc(var(--half-width) - var(--half-image-gap));
    height: auto;
    transition-property: transform, box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: var(--transition-style);
    transition-delay: 0.1s;
}


.image-container img:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    transform: scale(var(--image-scale-hover));
}


.image-container a {
    max-width: calc(var(--half-width) - var(--half-image-gap));
    height: auto;
}


.image-container figure {
    max-width: calc(var(--half-width) - var(--half-image-gap));
    height: auto;
}


.image-container a img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


.image-container figure img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


.image-container img:only-child {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


.image-container a:only-child {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


.image-container figure:only-child {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}  */




.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* width: 100%;  */
    max-width: 100%; 
    margin: 8% 0;
    box-sizing: border-box;

    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
 }


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
  

.image-container > * {
    flex: 0 0 calc(var(--half-width) - var(--half-image-gap)); 
    max-width: calc(var(--half-width) - var(--half-image-gap)); 
    min-width: 0; 
    box-sizing: border-box;
}
  

.image-container img {
    max-width: min(100%, attr(width px));
    /* width: auto;  */
    width: 100%; 
    height: auto;
    object-fit: contain;
    /* display: block; */

    transition-property: transform, box-shadow;
    transition-duration: var(--transition-duration-quick);
    transition-timing-function: var(--transition-style);
    transition-delay: var(--transition-delay);
}
  

/* For an odd number of images, the last child takes full width */
.image-container > :nth-child(odd):last-child {
    flex: 0 0 100%;
    max-width: 100%;
}




.parallax-container {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 50vh;
    position: relative;
    left: calc(-50vw + 50%);

    margin: 25% 0;
    overflow: hidden;
}


.parallax-container img {
    display: none;
}


.parallax-container-1 {
    /* background-image: url('../images/ucsd_lib2.png'); */
    background-position: 50% 5vh;
}


.parallax-container-2 {
    /* background-image: url('../images/matrix.jpg'); */
    filter: brightness(0.85);
}




img.text-width {
    width: var(--text-max-width);
}




.image-container img:hover {
    box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.4), 0 0 2rem rgba(0, 0, 0, 0.2);
    transform: scale(var(--image-scale-hover));
}




/* ***************************************************************************** */
/* Fullscreen Image */
.fullscreen {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 100;
    justify-content: center;
    align-items: center;
}


.fullscreen img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    pointer-events: none; 
}




.clickable-image:hover {
    cursor: pointer;
}





/* ***************************************************************************** */
/* Footer */
footer { 
    background: var(--footer-background-color);
    width: 100%;
    padding-top: 3%;
    padding-bottom: 1%;
    color: white;
}


.footer-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}


.footer-content {
    flex-grow: 1;
    flex-basis: 0;
    min-width: var(--footer-content-min-width);
    margin-bottom: 3%;
}


.footer-content h4 {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 2%;
    letter-spacing: 0.1rem;
}


.footer-content p {
    max-width: 100%;
    margin-bottom: 3%;
    font-size: 1.0rem;
    text-align: center;
}


.footer-content a {
    color: white;
    text-decoration: none;
    transition: color var(--transition-duration-quick) var(--transition-style) var(--transition-delay);
}


.footer-content a:hover {
    color: var(--nav-link-hover-color);
}


.footer-bottom {
    padding-top: 2.5%;
    border-top: 1px solid var(--footer-border-color);
    font-size: 0.8rem;
    color: var(--footer-bottom-text-color);
} 


.footer-bottom p {
    text-align: center;
    margin-bottom: 3.5%;
}


#copyright {
    margin-bottom: 2%;
}



/* ***************************************************************************** */
/* Handle mobile devices with width <= 767px */
@media screen and (max-width: 767px) {
    nav.sidebar {
        display: none;
    }


    :root {
        --nav-topbar-height-offset: 62px;
    }


    .progress-container {
        top: var(--nav-topbar-height-offset);
    }
    
       
    .container {
        max-width: var(--website-main-width-mobile);  
    }


    .text-container.xl-gap {
        margin-bottom: 20%;
    }


    .text-container.large-gap {
        margin-bottom: 17%;
    }

    
    .text-container.medium-gap {
        margin-bottom: 13%;
    }


    .text-container.small-gap {
        margin-bottom: 7%;
    }


    .video-container {
        margin-top: 20%;
        margin-bottom: 12%;
    }


    .image-container {
        margin: 10% 0;
    }


    .parallax-container {
        background-attachment: scroll;
        background-position: center;
        margin: 30% 0;
        height: 25vh;
    }


    img.text-width {
        width: var(--text-max-width-mobile);
    }


    nav.topbar {
        padding: 3px 0;
    }


    nav.topbar .nav-links a {
        font-size: 14px;
    }


    h1 {
        font-size: 2.8rem;
        letter-spacing: 0.2rem;
        margin-bottom: 16%;
        padding-bottom: 3%;
    }


    h1.long-header {
        font-size: 2.2rem;
        letter-spacing: 0.15rem;
    }


    h2 {
        font-size: 1.8rem;
        margin-bottom: 11%;
    }


    #UCSD-header {
        font-size: 1.8rem;
    }


    #UCSD-pics {
        /* margin-bottom: 65px; */
        margin-bottom: 20%;
    }


    h3 {
        font-size: 1.0rem;
        margin-bottom: 10%;
    }


    h4 {
        font-size: 1.0rem;
        letter-spacing: 0.04rem;
    }


    h5 {
        max-width: var(--text-max-width-mobile);
        margin-bottom: 3%;
        font-size: 1.1rem;
        letter-spacing: 0.04rem;
    }


    .link-icon {
        font-size: 1.6rem; 
    }


    p {
        max-width: var(--text-max-width-mobile);
        font-size: 1.0rem;
        margin-bottom: var(--text-margin-bottom-mobile);
        line-height: 1.4rem;
    }

    blockquote {
        max-width: 85%;
        font-size: 0.9rem;
        margin-bottom: var(--text-margin-bottom-mobile);
        line-height: 1.3rem;
    }


    section {
        padding-top: 20%;
        padding-bottom: 25%;
    }


    section ul {
        margin-left: 5%;
        max-width: var(--text-max-width-mobile);
        margin-bottom: var(--text-margin-bottom-mobile);
    }


    section li {
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 3%;
    }


    section ol ul,
    section ul ul {
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 6%;
    }
    
    
    section li li {
        margin-bottom: 3.222%;
    }


    .toc-container li {
        font-size: 1.1rem;
        margin-bottom: 5%;
    }
    
    
    .toc-container ol ul {
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 7%;
    }
    
    
    .toc-container li li {
        margin-bottom: 5.38%;
    }
    

    section.education h3 {
        font-size: 1.2rem;
    }


    .section-divider {
        max-width: 75%;
        margin: 35% auto;
    }


    .section-divider.no-border {
        margin: 45% auto;
    }


    code,
    pre {
        font-size: 1.0rem;
        line-height: 1.4rem;

        max-width: var(--text-max-width-mobile);
        margin: var(--text-margin-bottom-mobile) auto;
    }


    /* Inline code */
    :not(pre) > code {
        /* padding: .1rem; */
        font-size: 0.9rem;
    }



    footer { 
        padding: 15% 0 10%;
    }


    .footer-content {
        margin: 10% 0;
    }


    .footer-content h4 {
        margin-bottom: 8%;
    }


    .footer-content p {
        margin: 6% 0;
    }


    .footer-bottom {
        margin-top: 12%;
        padding-top: 17%;
    } 


    .footer-bottom p {
        margin-bottom: 20%;
    }


    #copyright {
        margin-bottom: 15%;
    }


    .tilt-card-container {
        perspective: none;
    }
    
    .tilt-card {
        transform-style: flat;
        transition: none;
    }
}



/* Adjust navbar height offset for widths >= 411px and <= 767px */
@media screen and (min-width: 411px) and (max-width: 767px) {
    :root {
        --nav-topbar-height-offset: 44px;
    }
}




/* For 1440p screens (2560px and up) */
@media screen and (min-width: 2560px) {
    .container {
        max-width: var(--website-main-width-ultrawide-2560);
    }

    section {
        padding-top: 5%;
        padding-bottom: 7%;
    }

}


/* For ultrawide screens (3440px and up) */
@media screen and (min-width: 3440px) {
    .container {
        max-width: var(--website-main-width-ultrawide-3440);
    }

    .parallax-container-1 {
        background-position: 50% 0vh;
    }

}


.tilt-card-container {
    perspective: 80vw;
}

.tilt-card {
    transform-style: preserve-3d;
    transition: transform 0.5s ease-out;
}
